:host {
    width: 100%;
    height: 40px;
    background-color: #2d2b32;

    & > .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > p {
            font-size: 1.2rem;
            margin-bottom: 0;
        }
    }
}