:host {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}