:host {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #2d2b32;

    & > .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > h1 {
            font-size: 4rem;
            margin-bottom: 0;
        }
    }
}