
  <mat-grid-list *ngIf="pastLaunches$ | async as pastLaunches" cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let launch of pastLaunches"
    [routerLink]="['/', launch.id]">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image">
            <img
              height="50"
              width="50"
              mat-card-avatar
              loading="lazy"
              [src]="launch.links.mission_patch_small"
              alt="Mission patch of {{ launch.mission_name }}"
            />
          </div>
          <mat-card-title>{{ launch.mission_name }}</mat-card-title>
          <mat-card-subtitle
            >{{ launch.rocket.rocket_name }} - launched
            {{ launch.launch_date_utc }}</mat-card-subtitle
          >
        </mat-card-header>
        <div class="body-image" >
            <img mat-card-image
          loading="lazy"
          [src]="launch.links.flickr_images[0]"
          alt="Photo of {{ launch.mission_name }}"
        />
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
