.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.header-image {
  background-size: cover;
}

.body-image {
    width: 100%;
    overflow: hidden;

    & > img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
}
